@import "tailwindcss";
@import "./modal-transitions.css";
@import "./section-transitions.css";
/* Devices registration tabs */
.custom-tabs .ant-tabs-nav {
  margin-bottom: 1rem;
  background-color: white;
}

.custom-tabs .ant-tabs-tab {
  min-width: 100px;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 500;
}

.custom-tabs .ant-tabs-tab-btn {
  width: 100%;
  text-align: center;
}

/* Ant tabs - global */
.ant-tabs-nav {
  margin-bottom: 4 !important;
}

.ant-tabs-tab {
  padding: 8px 0 !important;
  margin: 0 16px 0 0 !important;
  font-size: 12px !important;
}

.ant-tabs-tab + .ant-tabs-tab {
  margin: 0 16px !important;
}
